# Ignore Python cache files
__pycache__/
*.pyc

# Ignore notebooks checkpoints
.ipynb_checkpoints/

# Ignore model files
*.pth
models/

# Ignore datasets
keras_slices_data/
*.nii
*.nii.gz

# Ignore environments
.venv/
env/
conda_env/
comp3710-gpu/
comp3710-cpu/

# Ignore OS clutter
.DS_Store
Thumbs.db
