# Python caches
__pycache__/
*.pyc

# Notebooks cache
.ipynb_checkpoints/

# Models & predictions (project-local)
models/
preds/
preds_nii/
*.pth

# OS clutter
.DS_Store
Thumbs.db

# Ignore all model checkpoints and training outputs
models/*
preds/*
preds_nii/*

# Keep folder structure (if needed for repo layout)
!models/.gitkeep
!preds/.gitkeep
!preds_nii/.gitkeep

